<!doctype html>
<html lang="en">
<head>
    <title>GreatKart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="VentasOnline/static/css/main.css">
    <link rel="stylesheet" href="VentasOnline/static/css/normalize.css">
    <link rel="icon" type="image/x-icon" href="VentasOnline/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header id="header">
        <nav class="navbar">
            <div class="navbar-logo">
              <a href="VentasOnline/main.html">
                <img class="navbar-img" src="VentasOnline/static/img/logo.png" alt="Logo">
              </a>
            </div>
            <ul class="navbar-menu">
              <li><a href="VentasOnline/main.html">Inicio</a></li>
              <li><a href="VentasOnline/store.html">Tienda</a></li>
              <li><a href="VentasOnline/nosotros.html">Nosotros</a></li>
              <li><a href="VentasOnline/contacto.html">Contacto</a></li>
            </ul>
          </nav>

    </header>
    <main>
        <div id="app" class="container">
            <h1>Productos en stock</h1>
            <a  class="btn btn-dark" href="prod_new.html">Agregar nuevo producto</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos, no se pudo cargar la lista de productos solicitada. Inténtelo de nuevo más tarde.</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Objeto</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Modificaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.objeto}}</td>
                                    <td>{{producto.modelo}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <img width="60"  :src="producto.imagen" :alt="producto.objeto">
                                    </td>
                                    <td>
                    			<a class="btn btn-primary" :href="'prod_editar.html?id='+ producto.id" >Editar</a>
                                      <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="social-media">
          <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
          <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
      <p>&copy; 2023 Todos los derechos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="/js/prod_new.js"></script>
</body>
</html>